In [12]:
# Source - https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
# Posted by Gaurav Singh
# Retrieved 11/5/2025, License - CC-BY-SA 4.0

import pandas as pd


df = pd.read_csv('X_Tweets_Aggregated.csv')

df = df[(df['Timestamp'] > '2024-05-10') & (df['Timestamp'] < '2025-05-10')]

df.to_csv("X_Tweets_Filtered.csv", index=False)

df.describe()

,Name,Handle,Timestamp,Verified,Content,Comments,Retweets,Likes,Analytics,Tags,Mentions,Emojis,Profile Image,Tweet Link,Tweet ID
count,1186,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189
unique,226,229,1189,2,1181,158,291,439,387,252,126,180,255,1189,1189
top,ABS-CBN News,@ABSCBNNews,2025-04-12T03:46:11.000Z,True,The Panagbenga “politicians” will now be banne...,0,6,24,10K,['#Halalan2025'],[],[],https://pbs.twimg.com/profile_images/141490472...,https://x.com/PHLinLosAngeles/status/191090224...,tweet_id:1910902241202184588
freq,262,262,1,642,2,208,52,19,28,682,901,935,204,1,1